

.logo {
  height: 5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  user-select: none;

  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.logo.mcdevyt:hover {
  filter: drop-shadow(0 0 1em #1265d1c7);
}
